* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    position: relative;
    overflow: hidden;
    background: #070B11;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;

    background-image:
        radial-gradient(circle, white 1px, transparent 1px),
        radial-gradient(circle, white 1px, transparent 1px),
        radial-gradient(circle, white 1px, transparent 1px);

    background-size: 180px 180px, 250px 250px, 320px 320px;
    background-position: 20px 30px, 100px 150px, 200px 80px;

    animation: stars 4s ease-in-out infinite alternate;
}


@keyframes stars {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 4;
    }
}
